In [1]:
from modul.knapsack import Knapsack

set_objek = {
 'Meja Kayu'             : {'w' : 70 , 'p' : 30}, 
 'Televisi'              : {'w' : 100, 'p' : 46}, 
 'Kabel Tembaga'         : {'w' : 90 , 'p' : 48}, 
 'Meja Marbel'           : {'w' : 70 , 'p' : 40}, 
 'Anting-anting berlian' : {'w' : 50 , 'p' : 45}, 
 'Cincin Emas'           : {'w' : 20 , 'p' : 50}, 
 'Anting-Anting perak'   : {'w' : 50 , 'p' : 30},  
 'Gelang Perak'          : {'w' : 55 , 'p' : 32}, 
 'Kursi Marbel'          : {'w' : 65 , 'p' : 41},
 'Anting-Anting permata' : {'w' : 50 , 'p' : 30},
 }

O = Knapsack(250,set_objek=set_objek)
# O = Knapsack(250,N=10)
# O.tabel_objects

In [2]:
S1,TW1,TP1 = O.Bruteforce_Knapsack()
print(f'profit = {TP1}, weight = {TW1}')

profit = 240, weight = 198

In [3]:
S2,TW2,TP2 = O.GreedyByProfit_Knapsack()
print(f'profit = {TP2}, weight = {TW2}')

profit = 210, weight = 144

In [4]:
S3,TW3,TP3 = O.GreedyByWeight_Knapsack()
print(f'profit = {TP3}, weight = {TW3}')

profit = 240, weight = 198

In [5]:
S4,TW4,TP4 = O.GreedyByDensity_Knapsack()
print(f'profit = {TP4}, weight = {TW4}')

profit = 240, weight = 198

In [6]:
O.tabel_objects

,Objek,Weight,Profit,Density,Brute Force,Greedy by profit,Greedy by weight,Greedy by density
0,Meja Kayu,70,30,0.428571,0,0,0,0
1,Televisi,100,46,0.460000,0,1,0,0
2,Kabel Tembaga,90,48,0.533333,0,1,0,0
3,Meja Marbel,70,40,0.571429,0,0,0,0
4,Anting-anting berlian,50,45,0.900000,1,0,1,1
5,Cincin Emas,20,50,2.500000,1,1,1,1
6,Anting-Anting perak,50,30,0.600000,1,0,0,0
7,Gelang Perak,55,32,0.581818,1,0,1,1
8,Kursi Marbel,65,41,0.630769,1,0,1,1
9,Anting-Anting permata,50,30,0.600000,0,0,1,1